<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>console.log</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div id="wrapper">
      <header>
        <div>
          <% if logged_in? %>
            Welcome, <%= current_user.username %>
            <form action="/session" method="post">
              <input type="hidden" name="_method" value="delete">
              <button>Log out</button>
            </form>
          <% else %>
          <a href="/session/new">Sign in</a>
            <a href="/users/new">Register</a>
          <% end %>
        </div>
        <h1><a href="/">console.log</a></h1>
      </header>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
