<h2>Create new post</h2>
<% if @post && !@post.valid? %>
  <div class="error">
    The following errors occurred:
    <ul>
      <% @post.errors.messages.each_pair do |field, messages| %>
        <% messages.each do |message| %>
          <li><%= "#{field} #{message}" %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<form action="/posts" method="post">
  <div class="actions">
    <button class="btn btn-default">Publish</button>
  </div>
  <input name="title" type="text" placeholder="Title" value="<%= @post ? @post.title : "" %>">
  <textarea name="content" id="content" cols="30" rows="10" placeholder="Content"><%= @post ? @post.content : "" %></textarea>
</form>
