<h2>Editing post</h2>
<% if !@post.valid? %>
  <div class="error">
    The following errors occurred:
    <ul>
      <% @post.errors.messages.each_pair do |field, messages| %>
        <% messages.each do |message| %>
          <li><%= "#{field} #{message}" %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<form action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <button class="btn btn-default">Save changes</button>
  <input name="title" type="text" value="<%= @post.title %>" placeholder="Title">
  <textarea name="content" id="content" rows="10" placeholder="Content"><%= @post.content %></textarea>
</form>
