* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  color: #002B36;
}

#wrapper {
  max-width: 980px;
  margin: 0 auto;
}

header,
main {
  padding: 10px;
}

a {
  color: #073642;
  text-decoration: none;
}

a:hover {
  color: #586E75;
  text-decoration: underline;
}

header {
  background-color: #073642;
  color: #FDF6E3;
  padding-top: 40px;
}

header a {
  color: #EEB700;
}

header a:hover {
  color: #FFD700;
}

input,
textarea {
  width: 100%;
  display: block;
  margin: 5px 0;
  font-size: inherit;
}

.post {
  border: 1px solid #A3C1C1;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.error {
  background-color: #FAA;
  color: #600;
  padding: 5px;
  border: 1px solid #600;
}
